# S3
S3__ENABLED=true
S3__BUCKET=default-bucket
S3__REGION=us-east-1
S3__ENDPOINT=http://localhost:9090
S3__ACCESS_KEY=
S3__SECRET_KEY=

# Services

## Outline
OUTLINE__ENABLED=true
OUTLINE__URL=https://outline.example.com
OUTLINE__API_KEY=
