# Storages

## Local
LOCAL__OUTPUT_PATH=output

## S3
S3__BUCKET=default-bucket
S3__REGION=us-east-1
S3__ENDPOINT=http://localhost:9090
S3__ACCESS_KEY=
S3__SECRET_KEY=

# Services

## Outline
OUTLINE__URL=https://outline.example.com
OUTLINE__API_KEY=
# OUTLINE__ENCRYPT_PASSWORD=        # Custom encryption via glacier-crypto, set a value to enable encryption

## Nextcloud
NEXTCLOUD__URL=https://cloud.example.com
NEXTCLOUD__USERNAME=
NEXTCLOUD__PASSWORD=
# NEXTCLOUD__ENCRYPT_PASSWORD=        # Custom encryption via glacier-crypto, set a value to enable encryption

## Bitwarden
BITWARDEN__AUTH__CLIENT_ID=
BITWARDEN__AUTH__CLIENT_SECRET=
BITWARDEN__MASTER_PASSWORD=
BITWARDEN__FORMAT=csv
# BITWARDEN__ENCRYPT_PASSWORD=        # Custom encryption via glacier-crypto, set a value to enable encryption

## Ente
ENTE__EXPORT_PATH=
# ENTE__ENCRYPT_PASSWORD=        # Custom encryption via glacier-crypto, set a value to enable encryption
